/* About section start  */
.about__title {
  color: var(--text-color);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-top: 100px;
}
.about__title span {
  color: #b0907a;
  font-style: italic;
}
.about__images__wrapper {
  display: flex;
  column-gap: 40px;
  margin-top: 40px;
}
.about__left,
.about__right {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.about__image {
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.about__image:hover {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  /* About start  */
  .about__images__wrapper {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }
  .about__left,
  .about__right {
    overflow: hidden;
  }
  .about__left {
    width: 100%;
    height: 590px;
    background-image: url("../images/about-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
  }
  .about__right {
    width: 100%;
    height: 590px;
    background-image: url("../images/about-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
  }
  .about__image {
    display: none;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 590px;
  }
  .about__image {
    height: 590px;
  }
  .about__image__hidden {
    display: none;
  }
}

@media (max-width: 576px) {
  .about__title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0px 16px;
    max-width: 100%;
  }
  .about__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
}

/* Hover effects – faqat desktop uchun */
@media (hover: hover) and (pointer: fine) {
  /* About section image hover */
  .about__image:hover {
    transform: scale(0.9);
  }
}

/* Hover effects – mobil qurilmalarda (o‘chirilgan) */
@media (hover: none) and (pointer: coarse) {
  .about__image:hover,
  .mobile__link__wrapper:hover {
    all: unset;
  }
}
