/* Enjoy section start  */
.enjoy {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
  border-radius: 40px;
  margin-top: 20px;
  overflow: hidden;
}
.enjoy__background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ekranga moslashtirish */
  pointer-events: none; /* foydalanuvchi video bilan o‘zaro ishlay olmaydi */
  z-index: 0;
}
.enjoy__left {
  max-width: 530px;
  position: relative;
  z-index: 1;
}
.enjoy__title {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
.enjoy__title span {
  color: #b0907a;
}
.enjoy__desc {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 40px 0px;
}
.enjoy__button {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  border: none;
  width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
}
.enjoy__button img {
  display: none;
  margin-left: 8px;
}
.enjoy__button:hover .enjoy__button__text {
  transform: translateX(-5px);
}

.enjoy__button:hover img {
  display: block;
}

@media (max-width: 768px) {
  /* Enjoy start  */
  .enjoy {
    padding: 100px 60px;
    margin-top: 20px;
  }
  .enjoy__left {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .enjoy {
    padding: 60px 16px;
  }
  .enjoy__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%; /* 48.3px */
  }
  .enjoy__desc {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0px 16px;
    max-width: 100%;
  }
}

/* Hover effects – faqat desktop uchun */
@media (hover: hover) and (pointer: fine) {
  /* Enjoy button hover */
  .enjoy__button:hover .enjoy__button__text {
    transform: translateX(-5px);
  }
  .enjoy__button:hover img {
    display: block;
  }
}

/* Hover effects – mobil qurilmalarda (o‘chirilgan) */
@media (hover: none) and (pointer: coarse) {
  .enjoy__button:hover {
    all: unset;
  }
}
